/* Basic styling */
.calculator {
    width: 280px;
    margin: 50px auto;
    padding: 15px;
    border: 1px solid #8f8484;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(170, 172, 163);
}

.moto {

    padding-left: 42px;
    padding-right: 42px;
    text-align: auto;
    font-size: 18px;
}

h1 {
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;  
}

button {
    width: 50px;
    height: 50px;
    margin: 8px;
    font-size: 20px;
    border-radius: 5px;
}

#display {
    width: calc(100% - 9px); 
    height: 32px;
    margin-bottom: 10px;
    font-size: 24px; 
    border-radius: 5px;
}

body {
    background-color: rgb(231, 229, 146);
}


